{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
    </head>
<body>
    <div class="page-header">
        <h1 ><a href="/">Farm Protection</a></h1>
        <a href="{% url 'login' %}" class="btn btn-success" style="font-size: 25px;margin-left: 1200px">로그인</a>
        <a href="{% url 'register_user' %}" class="btn btn-primary" style="font-size: 25px;margin-left: 20px">회원가입</a>
    </div>
    <div class="a" style="margin-left:40;">
      <h3>Made by KHU 소프트웨어융합학과 이정원</h3>
    </div>
      <div class="a" style="margin-left:40;">
            <h2 class="a">  Use yolov5, a computer vision technology, to detect harmful tides and protect crops safely </h2>
        </div>
        <img src="{% static 'Farm.jpg' %}" alt="농작물 이미지" width="1200" height="500" style="margin-left: 220;">

</body>
</html>